<div class="container">
  <h1>
      SimView
  </h1>
  <div class="row">
      <div class="col-lg-9">
          <img class="img-fluid border" src={{image}}/>
      </div>
      <div class="col-md-3">
        <div class="row">
          <button type="button" class="btn btn-success btn-block"(click)="action('/api/init')">Init</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-primary btn-block"(click)="action('/api/move')">Next Step</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-secondary btn-block"(click)="action('/api/train')">Start Training Arc</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-primary btn-block" (click)="action('/api/full_run')">Full run</button>
        </div>
      </div>
  </div>
</div>
